{% extends "base.html" %}

{% block container %}
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail">
                <li><a href="#">
                    <h4 class="list-group-item-heading">Passo 1</h4>
                    <p class="list-group-item-text">Digite o que quer comprar</p>
                </a></li>
                <li><a href="#">
                    <h4 class="list-group-item-heading">Passo 2</h4>
                    <p class="list-group-item-text">Receba a cotação de várias lojas</p>
                </a></li>
                <li class="active"><a href="#">
                    <h4 class="list-group-item-heading">Passo 3</h4>
                    <p class="list-group-item-text">Escolha a melhor e mais barata</p>
                </a></li>
            </ul>
        </div>
	</div>

   <div class="row" id="painel">
        <table class="table table-striped custab">
        <thead>
            <h1>{{ order }}</h1>
            <tr>
                <th>#</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Empresa</th>
                <th>Ação</th>
            </tr>
        </thead>
            <tr>
                <td>1</td>
                <td><a href="#">produto bla bla bla bla</a></td>
                <td>R$50,44</td>
                <td>Teen Spirit</td>
                <td><a href="#" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-remove"></span>Aprovar</a></td>
            </tr>
        </table>
    </div>

    <div class="starter-template">
        <h1>Digite o que você quer comprar:</h1>
        <br>
        <form action="{% url 'order' %}">
            <div class="input-group">
                <input name="order" id="id_order" type="text" class="form-control input-lg" placeholder="Descreva o tipo de produto que você quer" autofocus>
                <span class="input-group-btn">
                      <button type="submit" class="btn btn-lg btn-primary">Lá Vai!</button>
                </span>
            </div>
        </form>
    </div>
{% endblock %}