{% extends "base.html" %}
{% block container %}
    <div class="row starter-template">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Mensal</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            R$15<span class="subscript">/Mês </span></h1>
                        <small>&nbsp;</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                1 conta
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Conta automaticamente renovável
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Pode enviar até 1000 cotações por mês
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sem acesso ao e-mail dos clientes
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="#" class="btn btn-primary" role="button">Pagar com PayPal</a></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Sócio</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            R$350<span class="subscript"></span></h1>
                        <small>uma única vez</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                Até 5 contas de acesso
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Pagamento efetuado apenas uma vez
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sem limite para envio de cotações
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Acesso ao email dos clientes
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="#" class="btn btn-primary" role="button">Pagar com PayPal</a></div>
            </div>
        </div>
    </div>
{% endblock %}